<div ng-controller="CharacterCtrl" ng-init="initEditMode(<%= character %>); archetypes = <%= archetypes %>; gods = <%= gods %>; towns = <%= towns %>; initRaces(<%= races %>); regions = <%= regions %>;"  flow-init="{target: '/upload/avatar', testChunks: false}" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">

    <form name="form">
        <div layout="row" layout-margin layout-align="center center">
            <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
                <md-toolbar>
                    <span class="md-toolbar-tools">{{'characters.titles.namePhysique' | translate}}</span>
                </md-toolbar>

                <md-content class="md-padding" style="font-size:1.2em;">
                    <div layout="row" layout-sm="column">
                        <md-input-container>
                            <label>{{'characters.labels.firstName' | translate}}</label>
                            <input ng-model="character.firstName" name="firstName" required minlength="3" md-maxlength="24" ng-pattern="/^[A-Za-z']*$/">
                            <div ng-messages="form.firstName.$error">
                                <div ng-message="required">{{'forms.invalid.required' | translate}}</div>
                                <div ng-message="md-maxlength">{{'forms.invalid.maxlength' | translate}}</div>
                                <div ng-message="minlength">{{'forms.invalid.minlength' | translate}}</div>
                                <div ng-message="pattern">{{'forms.invalid.pattern' | translate}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>{{'characters.labels.lastName' | translate}}</label>
                            <input ng-model="character.lastName" name="lastName" required minlength="3" md-maxlength="24" ng-pattern="/^[A-Za-z']*$/">
                            <div ng-messages="form.lastName.$error">
                                <div ng-message="required">{{'forms.invalid.required' | translate}}</div>
                                <div ng-message="md-maxlength">{{'forms.invalid.maxlength' | translate}}</div>
                                <div ng-message="minlength">{{'forms.invalid.minlength' | translate}}</div>
                                <div ng-message="pattern">{{'forms.invalid.pattern' | translate}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex-gt-sm="25">
                            <label>{{'characters.labels.trigram' | translate}}</label>
                            <input ng-model="character.trigram" name="trigram" required minlength="3" maxlength="3" class="trigram">
                            <div ng-messages="form.trigram.$error">
                                <div ng-message="required">{{'forms.invalid.required' | translate}}</div>
                                <div ng-message="minlength">{{'forms.invalid.threeChars' | translate}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>{{'characters.labels.race' | translate}}</label>
                            <md-select ng-model="character.race" ng-change="raceChange()" placeholder="Race" flex required>
                                <md-option ng-value="race" ng-repeat="race in races | orderBy:'name' track by race.id">{{race.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>{{'characters.labels.tribe' | translate}}</label>
                            <md-select ng-model="character.tribe" placeholder="Ethnie" flex required>
                                <md-option ng-value="tribe" ng-repeat="tribe in character.race.tribes">{{tribe | translate}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex-gt-sm="25">
                            <label>{{'characters.labels.sex' | translate}}</label>
                            <md-select ng-model="character.sex" name="sex" placeholder="Sexe" flex required>
                                <md-option value="F">{{'characters.labels.sex.woman' | translate}}</md-option>
                                <md-option value="H">{{'characters.labels.sex.man' | translate}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" style="margin-top: 20px;">
                        <div flex="10" layout layout-align="center center">
                            <span>{{'characters.labels.age' | translate}}</span>
                        </div>
                        <md-slider flex md-discrete ng-model="character.age" step="1" min="1" max="{{character.race.lifespan}}" aria-label="Âge"></md-slider>
                        <div flex-sm flex-gt-sm="25" layout="row" layout-align="center center">
                            {{character.age}} ans —&nbsp;
                            <span ng-if="character.age >= 5 && character.age < character.race.lifespan/6">{{'characters.labels.age.child' | translate}}</span>
                            <span ng-if="character.age > character.race.lifespan/6 && character.age <= character.race.lifespan/6*2">{{'characters.labels.age.young' | translate}}</span>
                            <span ng-if="character.age > character.race.lifespan/6*2 && character.age <= character.race.lifespan/6*3">{{'characters.labels.age.adult' | translate}}</span>
                            <span ng-if="character.age > character.race.lifespan/6*3 && character.age <= character.race.lifespan/6*4">{{'characters.labels.age.mature' | translate}}</span>
                            <span ng-if="character.age > character.race.lifespan/6*4 && character.age <= character.race.lifespan/6*5">{{'characters.labels.age.aging' | translate}}</span>
                            <span ng-if="character.age > character.race.lifespan/6*5 && character.age <= character.race.lifespan/6*6">{{'characters.labels.age.old' | translate}}</span>
                        </div>
                    </div>
                </md-content>
            </md-whiteframe>
        </div>

        <div layout="row" layout-margin layout-align="center center">
            <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
                <md-toolbar>
                    <span class="md-toolbar-tools">{{'characters.titles.behaviour' | translate}}</span>
                </md-toolbar>

                <md-content class="md-padding" style="font-size:1.2em;">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>{{'characters.labels.god' | translate}}</label>
                            <md-select ng-model="character.god" placeholder="Divinité vénérée" flex style="margin-top: 0px;" required>
                                <md-option ng-value="god.id" ng-repeat="god in gods | orderBy:'name'">{{god.name | translate}}, {{god.desc | translate}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>{{'characters.labels.birthPlace' | translate}}</label>
                            <md-select ng-model="character.birthPlace" placeholder="Lieu de naissance" flex required>
                                <md-optgroup label="{{region | translate}}" ng-repeat="region in regions | orderBy:'toString()'">
                                    <md-option ng-value="town.id" ng-repeat="town in towns | filter: {region: region} | orderBy:townTranslated">{{town.name | translate}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container>
                        <label>{{'characters.labels.align' | translate}}</label>
                        <input ng-model="getAlignment(character)" ng-readonly="true">
                    </md-input-container>
                    <div layout="row" layout-sm="column">
                        <div flex="10" layout layout-align="center center">
                            <span><md-tooltip>{{'characters.labels.align.bad.desc' | translate}}</md-tooltip>{{'characters.labels.align.bad' | translate}}</span>
                        </div>
                        <md-slider flex ng-model="character.moral" step="1" min="0" max="80" aria-label="Morale"></md-slider>
                        <div flex="10" layout layout-align="center center">
                            <span><md-tooltip>{{'characters.labels.align.good.desc' | translate}}</md-tooltip>{{'characters.labels.align.good' | translate}}</span>
                        </div>
                    </div>
                    <div layout="row" layout-sm="column">
                        <div flex="10" layout layout-align="center center">
                            <span><md-tooltip>{{'characters.labels.align.chaotic.desc' | translate}}</md-tooltip>{{'characters.labels.align.chaotic' | translate}}</span>
                        </div>
                        <md-slider flex ng-model="character.ethics" step="1" min="0" max="80" aria-label="Éthique"></md-slider>
                        <div flex="10" layout layout-align="center center">
                            <span><md-tooltip>{{'characters.labels.align.lawful.desc' | translate}}</md-tooltip>{{'characters.labels.align.lawful' | translate}}</span>
                        </div>
                    </div>
                </md-content>
            </md-whiteframe>
        </div>

        <div layout="row" layout-margin layout-align="center center">
            <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
                <archetypes character="character" archetypes="archetypes"></archetypes>
            </md-whiteframe>
        </div>

        <div layout="row" layout-margin layout-align="center center">
            <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
                <md-toolbar>
                    <span class="md-toolbar-tools">{{'characters.titles.timeline' | translate}}</span>
                </md-toolbar>

                <md-content class="md-padding" style="font-size:1.2em;" layout="column">
                    <timeline character="character" editable="true"></timeline>
                </md-content>
            </md-whiteframe>
        </div>

        <div layout="row" layout-margin layout-align="center center">
            <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
                <md-toolbar>
                    <span class="md-toolbar-tools">{{'characters.titles.desc' | translate}}</span>
                </md-toolbar>

                <md-content class="md-padding" style="font-size:1.2em; color: rgba(255,255,255,0.87);" layout="column">
                    <md-input-container flex>
                        <label>{{'characters.labels.physDesc' | translate}}</label>
                        <textarea ng-model="character.physDesc" columns="1" maxlength="4000" placeholder="Facultatif"></textarea>
                    </md-input-container>
                    <md-input-container flex>
                        <label>{{'characters.labels.mentDesc' | translate}}</label>
                        <textarea ng-model="character.mentDesc" columns="1" maxlength="4000" placeholder="Facultatif"></textarea>
                    </md-input-container>
                </md-content>
            </md-whiteframe>
        </div>

        <div layout="row" layout-margin layout-align="center center">
            <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
                <md-toolbar>
                    <span class="md-toolbar-tools">{{'characters.titles.avatar' | translate}}</span>
                </md-toolbar>

                <md-content class="md-padding" layout-sm="column" layout-gt-sm="column" layout-margin flex>
                    <div flex>
                        <md-button flow-btn flow-attrs="{accept:'image/*'}">{{'characters.labels.chooseFace' | translate}}</md-button>
                        <div ng-show="uploadError" class="error-msg">{{uploadError}}</div>
                    </div>

                    <div flex>
                        <md-grid-list md-cols-sm="2" md-cols-md="3" md-cols-lg="5" md-cols-gt-lg="7" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px">
                            <md-grid-tile avatar="avatar" class="character-tile">
                                <div class="effect-lily">
                                    <h2>{{character.firstName}} <span>{{character.lastName}}</span></h2>
                                    <p>
                                        <span ng-repeat="(key, value) in character.archetypes" ng-if="value > 0">{{key}} {{value}} / </span>
                                        <span>{{character.trigram}}</span>
                                    </p>
                                </div>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </md-content>
            </md-whiteframe>
        </div>

        <div layout="row" layout-margin layout-align="center center">
            <md-button flex="100" flex-gt-lg="90" ng-click="save()" ng-disabled="form.$invalid" class="md-accent md-raised">{{ 'characters.buttons.save' | translate }}</md-button>
        </div>
    </form>
</div>