<% if (req.isAuthenticated()) { %>
<div ng-controller="CharacterCtrl" ng-init="initShowMode(<%= JSON.stringify(character) %>, <%= JSON.stringify(req.user.id) %>); archetypes = <%= archetypes %>;" flex>
<% } else { %>
<div ng-controller="CharacterCtrl" ng-init="initShowMode(<%= JSON.stringify(character) %>); archetypes = <%= archetypes %>;" flex>
<% } %>
    <div layout="row" layout-margin layout-align="center center">
        <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
            <md-toolbar>
                <span class="md-toolbar-tools">{{'characters.titles.playerInfo' | translate}}</span>
            </md-toolbar>

            <md-content md-theme="dark" class="md-padding" style="font-size:1.2em;color: rgba(255,255,255,0.87)" layout="column">
                <div layout="row" layout-sm="column">
                    <md-input-container flex="50">
                        <label>{{'characters.labels.server' | translate}}</label>
                        <input ng-model="character.server" ng-readonly="true">
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>{{'characters.labels.language' | translate}}</label>
                        <input ng-model="character.language == 'fr' ? 'characters.labels.languages.fr' : 'characters.labels.languages.en' | translate" ng-readonly="true" />
                    </md-input-container>
                </div>
            </md-content>
        </md-whiteframe>
    </div>
    <div layout="row" layout-margin layout-align="center center">
        <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
            <md-toolbar>
                <span class="md-toolbar-tools">{{ 'characters.titles.namePhysique' | translate }}</span>
            </md-toolbar>

            <md-content md-theme="dark" class="md-padding" style="font-size:1.2em;color: rgba(255,255,255,0.87)">
                <div layout="row" layout-sm="column">
                    <md-input-container>
                        <label>{{ 'characters.labels.firstName' | translate }}</label>
                        <input ng-model="character.firstName" ng-readonly="true">
                    </md-input-container>
                    <md-input-container flex>
                        <label>{{ 'characters.labels.lastName' | translate }}</label>
                        <input ng-model="character.lastName" ng-readonly="true">
                    </md-input-container>
                    <md-input-container>
                        <label>{{ 'characters.labels.trigram' | translate }}</label>
                        <input ng-model="character.trigram" ng-readonly="true">
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container>
                        <label>{{ 'characters.labels.race' | translate }}</label>
                        <input ng-model="character.race.name" ng-readonly="true">
                    </md-input-container>
                    <md-input-container flex>
                        <label>{{ 'characters.labels.tribe' | translate }}</label>
                        <input ng-model="character.tribe | translate" ng-readonly="true">
                    </md-input-container>
                    <md-input-container>
                        <label>{{ 'characters.labels.sex' | translate }}</label>
                        <input ng-model="character.sex == 'F' ? 'characters.labels.sex.woman' : 'characters.labels.sex.man' | translate" ng-readonly="true" />
                    </md-input-container>
                </div>
                <div layout="row">
                    <div flex="10" layout layout-align="center center">
                        <span>{{ 'characters.labels.age' | translate }}</span>
                    </div>
                    <md-slider flex md-discrete ng-model="character.age" step="1" min="1" max="{{character.race.lifespan}}" ng-disabled="true" aria-label="Âge"></md-slider>
                    <div flex="20" layout="row" layout-align="center center">
                        {{character.age}} ans —&nbsp;
                        <span ng-if="character.age >= 5 && character.age < character.race.lifespan/6">{{'characters.labels.age.child' | translate}}</span>
                        <span ng-if="character.age > character.race.lifespan/6 && character.age <= character.race.lifespan/6*2">{{'characters.labels.age.young' | translate}}</span>
                        <span ng-if="character.age > character.race.lifespan/6*2 && character.age <= character.race.lifespan/6*3">{{'characters.labels.age.adult' | translate}}</span>
                        <span ng-if="character.age > character.race.lifespan/6*3 && character.age <= character.race.lifespan/6*4">{{'characters.labels.age.mature' | translate}}</span>
                        <span ng-if="character.age > character.race.lifespan/6*4 && character.age <= character.race.lifespan/6*5">{{'characters.labels.age.aging' | translate}}</span>
                        <span ng-if="character.age > character.race.lifespan/6*5 && character.age <= character.race.lifespan/6*6">{{'characters.labels.age.old' | translate}}</span>
                    </div>
                </div>
            </md-content>
        </md-whiteframe>
    </div>

    <div layout="row" layout-margin layout-align="center center" style="color: rgba(255,255,255,0.87)">
        <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
            <md-toolbar>
                <span class="md-toolbar-tools">{{ 'characters.titles.behaviour' | translate }}</span>
            </md-toolbar>

            <md-content md-theme="dark"  class="md-padding" style="font-size:1.2em;">
                <div layout="row" layout-sm="column">
                    <md-input-container flex>
                        <label>{{ 'characters.labels.freeCompany' | translate }}</label>
                        <input ng-model="getFreeCompanyName(character)" ng-readonly="true" ng-click="to('/compagnie-libre/' + character.membership.name + character.leadership.name)">
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex>
                        <label>{{ 'characters.labels.god' | translate }}</label>
                        <input ng-model="(character.god.name | translate) + ', ' + (character.god.desc | translate)" ng-readonly="true">
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex>
                        <label>{{ 'characters.labels.birthPlace' | translate }}</label>
                        <input ng-model="(character.birthPlace.name | translate) + ', ' + (character.birthPlace.region | translate)" ng-readonly="true">
                    </md-input-container>
                </div>
                <md-input-container ng-if="character.moral && character.ethics">
                    <label>{{ 'characters.labels.align' | translate }}</label>
                    <input ng-model="getAlignment(character)" ng-readonly="true">
                </md-input-container>
                <div layout="row" layout-sm="column" ng-if="character.moral && character.ethics">
                    <div flex="10" layout layout-align="center center">
                        <span><md-tooltip>{{'characters.labels.align.bad.desc' | translate}}</md-tooltip>{{'characters.labels.align.bad' | translate}}</span>
                    </div>
                    <md-slider flex ng-model="character.moral" step="1" min="0" max="80" aria-label="Morale" ng-disabled="true"></md-slider>
                    <div flex="10" layout layout-align="center center">
                        <span><md-tooltip>{{'characters.labels.align.good.desc' | translate}}</md-tooltip>{{'characters.labels.align.good' | translate}}</span>
                    </div>
                </div>
                <div layout="row" layout-sm="column" ng-if="character.moral && character.ethics">
                    <div flex="10" layout layout-align="center center">
                        <span><md-tooltip>{{'characters.labels.align.chaotic.desc' | translate}}</md-tooltip>{{'characters.labels.align.chaotic' | translate}}</span>
                    </div>
                    <md-slider flex ng-model="character.ethics" step="1" min="0" max="80" aria-label="Éthique" ng-disabled="true"></md-slider>
                    <div flex="10" layout layout-align="center center">
                        <span><md-tooltip>{{'characters.labels.align.lawful.desc' | translate}}</md-tooltip>{{'characters.labels.align.lawful' | translate}}</span>
                    </div>
                </div>
            </md-content>
        </md-whiteframe>
    </div>

    <div layout="row" layout-margin layout-align="center center">
        <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
            <md-content md-theme="dark" style="font-size:1.2em; color: rgba(255,255,255,0.87);" layout="column">
                <archetypes character="character" archetypes="archetypes" ng-readonly="true"></archetypes>
            </md-content>
        </md-whiteframe>
    </div>

    <div layout="row" layout-margin layout-align="center center">
        <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
            <md-toolbar>
                <span class="md-toolbar-tools">{{ 'characters.titles.timeline' | translate }}</span>
            </md-toolbar>

            <md-content md-theme="dark" class="md-padding" style="font-size:1.2em; color: rgba(255,255,255,0.87);" layout="column">
                <timeline character="character" editable="false" class="dark"></timeline>
            </md-content>
            </md-content>
        </md-whiteframe>
    </div>

    <div layout="row" layout-margin layout-align="center center">
        <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
            <md-toolbar>
                <span class="md-toolbar-tools">{{ 'characters.titles.desc' | translate }}</span>
            </md-toolbar>

            <md-content md-theme="dark" class="md-padding" style="font-size:1.2em; color: rgba(255,255,255,0.87);" layout="column">
                <md-input-container flex>
                    <label>{{ 'characters.labels.physDesc' | translate }}</label>
                    <textarea ng-model="character.physDesc" columns="1" ng-readonly="true"></textarea>
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'characters.labels.mentDesc' | translate }}</label>
                    <textarea ng-model="character.mentDesc" columns="1" ng-readonly="true"></textarea>
                </md-input-container>
            </md-content>
            </md-content>
        </md-whiteframe>
    </div>

    <div layout="row" layout-margin layout-align="center center">
        <md-button flex="100" flex-gt-lg="90" ng-href="/character/edit/{{character.id}}" class="md-accent md-raised" ng-show="isOwner">{{ 'characters.buttons.edit' | translate }}</md-button>
    </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement":
  [
    {
      "@type": "ListItem",
      "position": 1,
      "item":
      {
        "@id": "http://xivrp.com/personnages/",
        "name": "Personnages"
      }
    },
    {
      "@type": "ListItem",
      "position": 2,
      "item":
      {
        "@id": "http://xivrp.com/character/show/<%= character.id %>",
        "name": "<%= character.fullName %>"
      }
    }
  ]
}
</script>