<% if (req.isAuthenticated()) { %>
<div ng-controller="FreeCompanyCtrl" ng-init="initShowMode(<%= JSON.stringify(freeCompany) %>, <%= JSON.stringify(req.user.id) %>);" flex>
    <% } else { %>
<div ng-controller="FreeCompanyCtrl" ng-init="initShowMode(<%= JSON.stringify(freeCompany) %>);" flex>
    <% } %>

    <div layout="row" layout-margin layout-align="center center">
        <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
            <md-toolbar>
                <span class="md-toolbar-tools">{{ 'fc.titles.generalInfo' | translate }}</span>
            </md-toolbar>

            <md-content md-theme="dark" class="md-padding input-block">
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-input-has-value" flex>
                        <label>{{ 'fc.labels.name' | translate }}</label>
                        <div class="md-input">{{freeCompany.name}}</div>
                    </md-input-container>
                    <md-input-container class="md-input-has-value">
                        <label>{{ 'fc.labels.tag' | translate }}</label>
                        <div class="md-input">{{freeCompany.tag}}</div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-input-has-value">
                        <label>{{ 'fc.labels.server' | translate }}</label>
                        <div class="md-input">{{freeCompany.server}}</div>
                    </md-input-container>
                    <md-input-container class="md-input-has-value" flex>
                        <label>{{ 'fc.labels.website' | translate }}</label>
                        <div class="md-input">{{freeCompany.url}}</div>
                    </md-input-container>
                    <md-input-container class="md-input-has-value">
                        <label>{{ 'fc.labels.recruitment' | translate }}</label>
                        <div class="md-input">{{freeCompany.isRecruiting ? 'fc.labels.recruitment.open' : 'fc.labels.recruitment.close' | translate}}</div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container class="md-input-has-value">
                        <label>{{ 'fc.labels.house.no' | translate }}</label>
                        <div class="md-input">{{freeCompany.address.plot}}</div>
                    </md-input-container>
                    <md-input-container class="md-input-has-value">
                        <label>{{ 'fc.labels.house.ward' | translate }}</label>
                        <div class="md-input">{{freeCompany.address.ward}}</div>
                    </md-input-container>
                    <md-input-container class="md-input-has-value" flex>
                        <label>{{ 'fc.labels.house.district' | translate }}</label>
                        <div class="md-input">{{freeCompany.address.district}}</div>
                    </md-input-container>
                </div>
            </md-content>
        </md-whiteframe>
    </div>

    <div layout="row" layout-margin layout-align="center center">
        <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
            <md-tabs md-theme="dark" class="md-primary" style="color: rgba(255,255,255,0.87);" md-dynamic-height md-selected="membersTab.selectedIndex" flex>
                <md-tab label="founders">
                    <md-tab-label>{{ 'fc.titles.founders' | translate }}</md-tab-label>
                    <md-tab-template>
                        <md-content><md-list>
                            <md-list-item ng-click="to('/personnage/' + founder.fullName)" ng-repeat="founder in freeCompany.founders | orderBy:'fullName' | filter:{isInvited: false}">
                                {{founder.fullName}}
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list></md-content>
                    </md-tab-template>
                </md-tab>
                <md-tab label="members">
                    <md-tab-label>{{ 'fc.titles.members' | translate }}</md-tab-label>
                    <md-tab-template>
                        <md-content><md-list>
                                <md-list-item ng-click="to('/personnage/' + member.fullName)" ng-repeat="member in freeCompany.members | orderBy:'fullName' | filter:{isInvited: false}">
                                    {{member.fullName}}
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                        </md-list></md-content>
                    </md-tab-template>
                </md-tab>
            </md-tabs>
        </md-whiteframe>
    </div>

    <div layout="row" layout-margin layout-align="center center">
        <md-whiteframe class="md-whiteframe-z1" flex="100" flex-gt-lg="90">
            <md-toolbar>
                <span class="md-toolbar-tools">{{ 'fc.titles.presentation' | translate }}</span>
            </md-toolbar>

            <md-content md-theme="dark" class="md-padding input-block" layout="column">
                <md-input-container class="md-input-has-value" flex>
                    <label>{{ 'fc.titles.presentation' | translate }}</label>
                    <div class="md-input">{{freeCompany.desc}}</div>
                </md-input-container>
            </md-content>
        </md-whiteframe>
    </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement":
  [
    {
      "@type": "ListItem",
      "position": 1,
      "item":
      {
        "@id": "http://xivrp.com/compagnies-libres/",
        "name": "Compagnies Libres"
      }
    },
    {
      "@type": "ListItem",
      "position": 2,
      "item":
      {
        "@id": "http://xivrp.com/free-company/show/<%= freeCompany.id %>",
        "name": "<%= freeCompany.name %>"
      }
    }
  ]
}
</script>